body{
    padding: 0;
    box-sizing: border-box;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    font-family: "Helvetica Neue", sans-serif;
    background-color: rgb(18, 17, 17);
}

.calculator {
    border-radius: 50px;
    min-width:460px;
    min-height:755px;
    max-width:460px;
    max-height:755px;
    background-color: black;
    color: white; 
    position: relative; 
    display: flex;
    flex-flow: column wrap;
    align-items: center;
}

#screen {
    display: flex; 
    text-align: right;
    background-color: black;
    color: white;
    min-width: 80%;
    max-width: 80%;
    min-height: 10.8rem;
    max-height: 10.8rem; 
    margin: 30px 0 0 0;  
    flex-wrap: wrap;
    justify-content: flex-end;  
}

#equation {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    font-size: 3rem;
    min-width: 90%;
    max-width: 90%;
    min-height: 3.1rem;
    max-height: 3.1rem; 
}

#result {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    font-size: 6rem;
    min-width: 90%;
    max-width: 90%;
    min-height: 6rem;
    max-height: 6rem;  
}

.buttons {
    display: grid;  
    grid-template-columns: repeat(4, 1fr)/*1fr 1fr 1fr 1fr*/;  
    width: 90%;    
    gap: 10px;  
}

.button {  
    height: 96px;
    transition: filter 0.3s;
    cursor: pointer; 
    border-radius: 50%;
    font-size: 2.5rem; 
    display: flex;
    justify-content: center;
    align-items: center;
}

.button:hover {
    opacity: 0.4;
} 

.button:active {
    box-shadow: 0 5px 15px rgba(255, 255, 255, 0.4);
}

.lightgray {
    background-color: lightgray;
    color: black;
} 

.darkgray {
    background-color: rgb(95, 93, 93);
} 

.orange {
    background-color: orange;
}

.orange:active {
    box-shadow: 0 5px 15px rgba(255, 165, 0, 0.4);
}

.long { 
    border-radius: 40px;
    grid-column: 1/3;
}